$background: rgb(179, 255, 190);
$main-color: rgb(88, 88, 88);
$secondary-color: rgb(11, 49, 17);

.home {
    &-main-wrapper {
        margin: 0 50px;
    }
    &-title {
        color: $main-color;
    }
    &-content {
        display: flex;
    }
}